<!-- Team Section -->
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <h2 class="section-heading">About</h2>
        <div class="col-lg-8 col-lg-offset-2 text-left">
          <p class="large text-muted">
            I’ve worn different professional hats throughout my career that reflect my varied interests: from selling custom high-end bikes, to assisting the communications team at an arts non-profit,
            to coordinating construction projects for a famous video game studio. The one thing they all have in common is a certain element of creation.
            <br>
            <br>
            As a Communications and Cultural Studies major in university, my main area of interest revolved around the intersection of culture, technology and art.
            During and after university, I focused on writing and managing other people’s creative projects. I eventually developed an itch to be less of a spectator
            and more of a builder. As a means to reconcile my need for a creative outlet with my interest in technology, I dived head first into learning how to code in the summer of 2015.
            <br>
            <br>
            As a software developer, I’ve mostly worked on creating the secret-voodoo-magic-stuff that happens underneath the interface(traditionally referred to as
            the back-end or server-side). I’m presently eager to develop my skills relating to elements of design, UI, and UX(also known as the front-end).
            <br>
            <br>
            When I’m not in front of my computer, you can find me in the midst of a lip-sync battle, hanging out at the museum or biking around the city.
          </p>
        </div>
     </div>
    </div>
    <div class="row">
    <h3 class="section-subheading text-muted text-center">Interested in knowing more?</h3>
    <div class="info text-center">
        <ul class="social-icons list-inline">
        <li>
            <a href="https://ca.linkedin.com/in/jessicajoly">
              <i class="fa fa-linkedin fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/jessica-joly">
              <i class="fa fa-github-square fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
