<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Languages and Frameworks</h4>
                    <p class="text-muted">Ruby, JavaScript(jQuery, AJAX), HTML, CSS, Sass, Rails, Ember, Sinatra </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Testing Tools</h4>
                    <p class="text-muted">RSpec, Capybara, PhantomJS, Mocha, Chai, FactoryGirl, SimpleCov, CodeShip</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Extra</h4>
                    <p class="text-muted">Git Version Control Software, Unix Command Line, Sublime Text & Atom,
                       TDD & BDD, and PostgreSQL & SQL </p>
                </div>
            </div>
        </div>
    </section>
